@use "../global" as *;

.p-cta__top {

}

.p-cta__top-heading {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'halt' on;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #FFF;
    font-family: "Sawarabi Mincho";
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 70.175% */
    letter-spacing: -1.71px;
}

.p-cta__top--dot {

}

.p-cta__top-lead {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 160% */
}

