@use "../global" as *;

.p-cta {
    background-color: $color-wt;
    padding-block: 71px 52px;
}

.p-cta__heading {

}

.p-cta__title {
    transform: skew(-10deg);
    color: $color-heading;
    text-align: center;
    font-size: rclamp(20, 43, 320, 1366);
    font-weight: 700;
    line-height: rclamp(22, 40, 320, 1366);
    letter-spacing: -1.29px;
}

.p-cta__title--dot {
    margin-inline: -0.7em;
}

.p-cta__title--space {
    margin-inline: -0.7em;
}

.p-cta__button-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block-start: 46px;
}

.p-cta__message {
    position: relative;
    inline-size: fit-content;
    margin-inline: auto;
    color: $color-bk;
    font-size: rclamp(14, 20, 320, 1366);
    font-weight: 500;
    line-height: rclamp(24, 35, 320, 1366);
    &::before {
      content: "";
      position: absolute;
    }
    &::after {
      content: "";
      position: absolute;
    }
}

.p-cta__button {
    margin-block-start: 3px;
}

.p-cta__button-wrapper {

}

.p-cta__secondary__note {
    color: #000;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 100% */
}

.p-cta__secondary__assurance {
    color: #000;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
}

