@use "../global" as *;

.p-cta {

}

.p-cta__heading {

}

.p-cta__title {
    color: #142E50;
    text-align: center;
    font-feature-settings: 'halt' on;
    font-family: "Noto Sans JP";
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 93.023% */
    letter-spacing: -1.29px;
}

.p-cta__title--dot {

}

.p-cta__button-content {

}

.p-cta__message {
    color: #000;
    font-family: "Noto Sans JP";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; /* 175% */
}

.p-cta__button {

}

.p-cta__button-wrapper {

}

.c-button__text {

}

.c-button__subtext {

}

