@use "../global" as *;

.p-merit {

}

.p-merit__inner {

}

.p-merit__heading {

}

.p-merit__title {
    color: #000;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 133.333% */
}

.p-merit__title--strong {
    color: #DC5A28;
    text-align: center;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 50% */
    letter-spacing: -1.2px;
}

.p-merit__title--dot {

}

.p-merit__list {

}

.p-merit__item {

}

.p-merit__subtitle {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 100% */
}

.p-merit__description {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 166.667% */
}

