@use "../global" as *;

.p-reason {
}

.p-reason__heading {
    background-color: $color-heading;
    padding-block: rclamp(25, 75, 320, 1366);

    @include mq(lg) {
    inline-size: min(calc(1326px + 20px * 2), 100%);
    padding-inline: 20px;
    margin-inline: auto;
    }
}

.p-reason__title {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 53.571px; /* 133.929% */
}

.p-reason__subtitle {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 53.571px; /* 267.857% */
}

.p-reason__inner {
    padding-block: 65px 75px;
    @include mq(lg) {
        inline-size: min(calc(1120px + 20px * 2), 100%);
        padding-inline: 20px;
        margin-inline: auto;
    }
}

.l-section__inner--narrow {

}

.p-reason__cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-inline: auto;
    @include mq(lg) {
      display: grid;
      grid-template-columns: calc(558 / 1120 * 100%) calc(558 / 1120 * 100%);
    }
}

.p-reason__card {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(20, 46, 80, 0.8); // 50%透明のマスク
      z-index: 1;
    }
    @include mq(lg) {
    //   inline-size: calc(558 / 1366 * 100%);
    }
}

.p-reason__card--one {
background: url(../img/reason01.webp) no-repeat center center / cover;
}

.p-reason__card--two {
background: url(../img/reason02.webp) no-repeat center center / cover;

}

.p-reason__card--three {
background: url(../img/reason03.webp) no-repeat center center / cover;
@include mq(lg) {
  inline-size: calc(843 / 1120 * 100%);
    grid-column: 1 / 3;
  justify-self: center;
}
}

.p-reason__label {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    padding: 15px 12px;
    background-color: $color-wt;
    color: #142E50;
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: 28.5px; /* 123.913% */
    letter-spacing: -0.46px;

    span {
        display: inline-block;
        transform: skew(-10deg);
    }
}

.p-reason__card-wrapper {
    position: relative;
    z-index: 2;

    padding-block: 31px;
    padding-inline: calc(34 / 558 * 100%);
}

.p-reason__card-title {
    color: $color-wt;
    text-align: center;
    font-size: rclamp(16, 25, 320, 1366);
    font-weight: 700;
    line-height: rclamp(22, 35, 320, 1366);
    border-block-end: 1px solid $color-wt;
    padding-block-end: 24px;
}

.p-reason__card-description {
    margin-block-start: 14px;
    padding-inline: calc(20 / 558 * 100%);
    color: $color-wt;
    font-size: rclamp(12, 15, 320, 1366);
    font-weight: 500;
    line-height: rclamp(20, 25, 320, 1366);
}

.p-reason__features {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-block-start: 46px;
}

.p-reason__feature--third {
    margin-block-start: 24px;
}

.p-reason__feature {
}

.p-reason__feature--second:nth-child(2),
.p-reason__feature--second:nth-child(4) {
    margin-block-start: 70px;
}

.p-reason__feature--second:nth-child(n+2) {
    margin-inline-start: -20px;
}

.p-reason__feature-text {
    inline-size: 130px;
    block-size: 130px;
    background-color: $color-rd;
    border-radius: 100vmax;
    color: $color-wt;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: rclamp(12, 15, 320, 1366);
    font-weight: 700;
    line-height: rclamp(16, 20, 320, 1366); /* 133.333% */
}

.p-reason__feature-texts {
    background-color: $color-rd;
    border-radius: 100vmax;
    inline-size: 200px;
    block-size: 200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.p-reason__feature-thirdtext {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
}

.p-reason__feature-subtext {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 166.667% */
}

.p-reason__skills {
    margin-block-start: 14px;
}

.p-reason__skills-list {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
}

.p-reason__skills-note {
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 133.333% */
}

