@use "../global" as *;

.p-reason {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    inline-size: min(1366px, 100%);
    margin-inline: auto;
    background-color: $color-background-main;
}

.p-reason__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-heading;
    padding-block: min(5.49048316vw, 75px);
    padding-block: 75px 75px;

    @include mq(lg) {
    inline-size: min(calc(1326px + 20px * 2), 100%);
    padding-inline: min(1.46412884vw, 20px);
    margin-inline: auto;
    }
}

.p-reason__title {
    color: $color-wt;
    font-weight: 700;
    font-size: rclamp(30, 40, 320, 1366);
    line-height: 133.929%;
    @include mq(lg) {
        font-size: min(2.92825769vw, 40px);
        line-height: min(3.87994143vw, 53px);
    }
}

.p-reason__subtitle {
    color: $color-wt;
    font-weight: 500;
    font-size: rclamp(15, 20, 320, 1366);
    line-height: 267.857%;
    margin-block-start: min(-0.73206442vw, -10px);
    
    @include mq(lg) {
        font-size: min(1.46412884vw, 20px);
        line-height: min(3.87994143vw, 53px);
    }
}

.p-reason__inner {
    padding-block: min(4.75841874vw, 65px) min(5.49048316vw, 75px);
    // padding-inline: 0;
    @include mq(lg) {
        inline-size: min(calc(1120px + 20px * 2), 100%);
        padding-inline: min(1.46412884vw, 20px);
        margin-inline: auto;
    }
}

.l-section__inner--narrow {

}

.p-reason__cards {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 20px;
    @include mq(lg) {
        display: grid;
        gap: min(0.73206442vw, 10px);
      grid-template-columns: calc(558 / 1120 * 100%) calc(558 / 1120 * 100%);
      
    }
}

.p-reason__card {
    position: relative;
    margin-inline: auto;
    inline-size: 100%;
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(20, 46, 80, 0.8); // 50%透明のマスク
      z-index: 1;
    }
    @include mq(lg) {
        inline-size: revert;
    //   inline-size: calc(558 / 1366 * 100%);
    }
}

.p-reason__card--one {
background: url(../img/reason01.webp) no-repeat center center / cover;
}

.p-reason__card--two {
background: url(../img/reason02.webp) no-repeat center center / cover;
}

.p-reason__card--three {
background: url(../img/reason03.webp) no-repeat center center / cover;
@include mq(lg) {
  inline-size: calc(843 / 1120 * 100%);
    grid-column: 1 / 3;
  justify-self: center;
}
}

.p-reason__label {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: $color-wt;
    color: $color-heading;
    padding: rclamp(8, 15, 320, 1366) rclamp(6, 12, 320, 1366);
    font-family: $font-sub;
    font-weight: 800;
    letter-spacing: -0.46px;
    font-size: rclamp(14, 23, 320, 1366);
    line-height: 123.913%;
    
    @include mq(lg) {
        padding: min(1.09809663vw, 15px) min(0.87847731vw, 12px);
        font-size: min(1.68374817vw, 23px);
        line-height: min(2.04978038vw, 28.5px);
    }
    span {
        display: inline-block;
        transform: skew(-10deg);
    }
}

.p-reason__card-wrapper {
    position: relative;
    z-index: 2;
    padding: 31px rclamp(10, 34, 320, 1366);

    @include mq(lg) {
        padding-block: min(2.26939971vw, 31px) min(4.38596491vw, 50px);
        padding-inline: min(2.48901903vw, 34px);
    }
}

.p-reason__card-wrapper--two {

    @include mq(lg-down) {
        // padding-block-end: 40%;
    }
}

.p-reason__card-title {
    color: $color-wt;
    text-align: center;
    font-weight: 700;
    border-block-end: 1px solid $color-wt;
    font-size: rclamp(16, 25, 320, 1366);
    line-height: 140%;
    padding-block-end: 24px;
    
    @include mq(lg) {
        padding-block-end: min(1.75695461vw, 24px);
        font-size: min(1.83016105vw, 25px);
        line-height: min(2.56222548vw, 35px);
    }
}

.p-reason__card-description {
    margin-block-start: 14px;
    color: $color-wt;
    font-weight: 500;
    font-size: rclamp(12, 15, 320, 1366);
    padding-inline: 20px;
    line-height: 166.667%;
    text-align: center;
    
    @include mq(lg) {
        text-align: left;
        margin-block-start: min(1.02489019vw, 14px);
        font-size: min(1.09809663vw, 15px);
        padding-inline: min(1.46412884vw, 20px);
        line-height: min(1.83016105vw, 25px);
    }
}

.p-reason__features {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-block-start: 46px;

    @include mq(lg) {
        align-items: revert;
        flex-direction: row;
        gap: min(0.36603221vw, 5px);
        margin-block-start: min(3.36749634vw, 46px);
    }
}

.p-reason__features--two {
    // position: relative;

@include mq(lg-down) {
//   top: -20px;
}
}


.p-reason__feature {

}

.p-reason__feature--second {
    
        &:nth-child(even) {
            margin-top: 30px;
        }
        &:nth-child(odd) {
                margin-top: -30px;
        }
        &:nth-child(n+2) {
            margin-inline-start: -10px;
        }
    @include mq(lg-down) {
        &:nth-child(even) {
            margin-top: rclamp(70, 120, 320, 1366);
        }
        &:nth-child(odd) {
                margin-top: rclamp(-70, -120, 320, 1366);
        }
        &:nth-child(n+2) {
            margin-inline-start: -30px;
        }
    }
}

.p-reason__feature--third {
    

    @include mq(sm-down) {
        &:nth-child(odd) {
            margin-top: rclamp(-110, -130, 320, 1366);
        }
        &:nth-child(even) {
            margin-top: rclamp(110, 130, 320, 1366);
        }
        &:nth-child(n+2) {
            margin-inline-start: -60px;
        }
    }
}

.p-reason__feature-text {
    background-color: $color-rd;
    border-radius: 100vmax;
    color: $color-wt;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    inline-size: rclamp(80, 250, 320, 1366);
    block-size: rclamp(80, 250, 320, 1366);
    font-size: rclamp(10, 20, 320, 1366);
    line-height: 150%;


    @include mq(lg) {
        font-size: min(1.09809663vw, 15px);
        line-height: min(1.46412884vw, 20px);
        inline-size: min(9.51683748vw, 130px);
        block-size: min(9.51683748vw, 130px);
    }
}

.p-reason__feature-texts {
    background-color: $color-rd;
    border-radius: 100vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    inline-size: rclamp(120, 200, 320, 1366);
    block-size: rclamp(120, 200, 320, 1366);
    @include mq(lg) {
        gap: min(1.17130307vw, 16px);
        inline-size: min(14.64128843vw, 200px);
        block-size: min(14.64128843vw, 200px);
    }
}

.p-reason__feature-thirdtext {
    color: $color-wt;
    font-weight: 700;
    font-size: rclamp(12, 18, 320, 1366);
    line-height: 111.11%;

    @include mq(lg) {
        font-size: min(1.31771596vw, 18px);
        line-height: min(1.46412884vw, 20px);
    }
    }

.p-reason__feature-subtext {
    text-align: center;
    color: $color-wt;
    font-weight: 500;
    font-size: rclamp(10, 15, 320, 1366);
    line-height: 166.667%;
    @include mq(lg) {
        font-size: min(1.09809663vw, 15px);
        line-height: min(1.83016105vw, 25px);
    }
}

.p-reason__skills {
    margin-block-start: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(lg) {
        margin-block-start: min(1.02489019vw, 14px);
    }
}

.p-reason__skills-list {
    text-align: center;
    color: $color-wt;
    font-weight: 700;
    font-size: rclamp(15, 20, 320, 1366);
    line-height: 200%;
    @include mq(lg) {
        text-align: left;
        font-size: min(1.46412884vw, 20px);
        line-height: min(2.92825769vw, 40px);
    }
}

.p-reason__skills-note {
    margin-block-start: 5px;
    text-align: center;
    color: $color-wt;
    font-weight: 500;
    font-size: rclamp(12, 15, 320, 1366);
    line-height: 133.3333%;

    @include mq(lg) {
        margin-block-start: 0;
        text-align: left;
        font-size: min(1.09809663vw, 15px);
        line-height: min(1.46412884vw, 20px);
    }
}

