@use "../global" as *;

.p-voice {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    inline-size: min(1366px, 100%);
    margin-inline: auto;
    background-color: $color-background-main;
    margin-block-start: revert;
    position: relative;
    z-index: 2;

    @include mq(lg) {
        margin-block-start: min(-3.80673499vw, -52px);
    }
}

.p-voice__heading {
        inline-size: min(1366px, 100%);
        margin-inline: auto;
        background-color: $color-heading;
        padding-block: min(5.49048316vw, 75px);
        @include mq(lg) {
        }
}

.p-voice__title {
    color: $color-wt;
    text-align: center;
    font-weight: 700;
    font-size: rclamp(26, 40, 320, 1366);
    line-height: 133.929%;
    @include mq(lg) {
        font-size: min(2.92825769vw, 40px);
        line-height: min(3.95314788vw, 54px);
    }
}

.p-voice__subtitle {
    color: $color-wt;
    text-align: center;
    font-weight: 500;
    font-size: rclamp(14, 20, 320, 1366);
    line-height: 200%;
    
    @include mq(lg) {
        font-size: min(1.46412884vw, 20px);
        line-height: min(2.92825769vw, 40px);
    }
}

.p-voice__wrapper {
    inline-size: min(1256px, 100%);
    margin-inline: auto;

    @include mq(lg) {
      inline-size: min(91.947291361vw, 1256px);
    }
}

.p-voice__list {
    padding-block: min(3.87994143vw, 53px) min(7.39385066vw, 101px);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
    
    @include mq(lg) {
      grid-template-columns: repeat(4, 1fr);
      gap: min(0.732064421vw, 10px);
    }
}

.p-voice__item {
    padding: min(2.34260615vw, 32px) min(1.46412884vw, 20px) min(2.12298682vw, 29px) min(1.46412884vw, 20px);
    background-color: $color-background-card;
    border: 1px solid $color-bk;
    
    @include mq(lg) {
        inline-size: min(22.254758418vw, 304px);
    }
}

.p-voice__item-body {
    padding-inline: min(1.02489019vw, 14px);
}

.p-voice__item-heading {

}

.p-voice__item-title {
    padding-block-end: min(1.24450952vw, 17px);
    color: $color-bk;
    font-weight: 700;
    font-size: rclamp(16, 22, 320, 1366);
    line-height: 136.364%;
    
    @include mq(lg) {
        font-size: min(1.61054173vw, 22px);
        line-height: min(2.19619327vw, 30px);
    }
}

.p-voice__item-description {
    padding-block-start: min(1.09809663vw, 15px);
    border-block-start: 1px solid $color-bk;
    color: $color-bk;
    font-weight: 500;
    letter-spacing: normal;
    font-size: rclamp(12, 15, 320, 1366);
    line-height: 166.667%;
    
    @include mq(lg) {
        font-size: min(1.09809663vw, 15px);
        line-height: min(1.83016105vw, 25px);
    }
}

.p-voice__item-job {
    color: $color-bk;
    margin-block-start: min(1.53733529vw, 21px);
    font-size: rclamp(10, 13, 320, 1366);
    font-weight: 700;
    line-height: 100%; /* 100% */
    letter-spacing: normal;

    @include mq(lg) {
    font-size: min(0.95168375vw, 13px);
    }
}

.p-voice__item-labels {
    display: flex;
    gap: min(0.292825768vw, 4px);
    margin-block-start: min(2.196193265vw, 30px);

    @include mq(lg) {

    }
}

.p-voice__item-label {
    inline-size: rclamp(100, 130, 320, 1366);
    block-size: rclamp(32, 48, 320, 1366);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-rd;
    @include mq(lg) {
        inline-size: min(9.516837481vw, 130px);
        block-size: min(3.513909224vw, 48px);
    }
    
}
.p-voice__item-label2 {
    background-color: $color-heading;
}

.p-voice__item-text {
    color: $color-wt;
    text-align: center;
    font-weight: 500;
    font-size: rclamp(10, 13, 320, 1366);
    line-height: 200%;
    @include mq(lg) {
        font-size: min(0.951683748vw, 13px);
        line-height: min(1.90336750vw, 26px);
    }
}

.p-voice__item-text--strong {
    color: $color-wt;
    text-align: center;
    font-family: $font-sub;
    font-weight: 600;
    letter-spacing: -0.5px;
    font-size: rclamp(16, 25, 320, 1366);
    line-height: 114%;
    @include mq(lg) {
        font-size: min(1.830161054vw, 25px);
        line-height: min(2.04978038vw, 28.5px);
    }
}

