$color-bk: #000000;
$color-wt: #ffffff;
$color-rd: #dc5a28;
$color-heading: #142e50;
$color-background-main: #E7E7E6;
$color-background-card:  #E0EAF6;
$color-background-merit: #D9E0E9;
$color-focus: #9a97f0;

// フォント
$font-main: "Noto Sans JP", sans-serif;
$font-sub: "Roboto", sans-serif;
$font-heading: "Sawarabi Mincho", serif;