@use "../global" as *;

.l-header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 50%;
    translate: -50%;
    inline-size: 100%;
    background-color: $color-background-main;
    padding-block-start: min(1.46412884vw, 20px);
    border: 1px solid $color-bk;
    margin-inline: auto;
    inline-size: min(840px, 100%);
    box-shadow: 0 5px 10px #b2b2b2;
    @include mq(lg) {
        inline-size: min(1366px, 100%);
        margin-inline: auto;
    }
}

.l-header__inner {
    border-block: 1px solid $color-bk;
    border-block-end: 0;
    @include mq(lg) {
        inline-size: min(1366px, 100%);
        padding-inline: 20px;
        margin-inline: auto;
    }
}

.l-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-inline: 1px solid $color-bk;
    position: relative;

    &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: $color-bk;
    right: -1px;
    top: -20px;
    }
    @include mq(lg) {
      border-inline-end: 0;
      &::after {
        width: 0;
      }
    }
}

.l-header__logo {
    inline-size: 153px;
    // block-size: 64px;
    display: flex;
    align-items: center;
    padding-inline: 37px;
    padding-block: 13px;
    border-inline-end: 1px solid $color-bk;
    position: relative;
    transition: background-color 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        background-color: $color-rd;
      }
    }
    &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: $color-bk;
        left: -1px;
        top: -20px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: $color-bk;
        right: -1px;
        top: -20px;
    }
}

.l-header__nav {
    display: none;

    @include mq(lg) {
      display: block;
    }
}

.l-header__list {
    display: flex;
}

.l-header__item {
}

.l-header__list li:last-child .l-header__link {
  border-right: 1px solid #000; /* 好みの色・太さに調整してください */
}


.l-header__link {
    // block-size: 64px;
    display: block;
    padding-block: 13px 13px;
    padding-inline: 29px;
    // padding: 17px min(2.19619327vw, 30px) 18px min(2.19619327vw, 30px);
    border-inline-start: 1px solid $color-bk;
    font-size: min(1.09809663vw, 15px);
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        background-color: $color-heading;
        color: $color-wt;
      }
    }



    &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: $color-bk;
        left: -1px;
        top: -20px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: $color-bk;
        right: -1px;
        top: -20px;
    }
}

.l-header__button {
    background-color: $color-rd;
}

.l-header__link-text {
    color: $color-wt;
    font-size: min(1.09809663vw, 15px);
    font-weight: 500;
    font-size: 15px;
    line-height: min(0.87847731vw, 11.867px);
}

