@use "../global" as *;

.l-section__inner--wide {
    inline-size: min(calc(1400px + 20px * 2), 100%);
    // padding-inline: 20px;
    margin-inline: auto;
}

.l-section__inner {
    inline-size: min(calc(1120px + 20px * 2), 100%);
    padding-inline: 20px;
    margin-inline: auto;
}

.l-section__inner--modal {
    inline-size: min(calc(1200px + 20px * 2), 100%);
    padding-inline: 20px;
    margin-inline: auto;
}

.l-section__inner--mv {
    inline-size: min(calc(1220px + 80px * 2), 100%);
    padding-inline: 80px;
    margin-inline: auto;
}

.l-section__inner--narrow {
    @include mq(lg-down) {
        inline-size: min(calc(600px + 20px * 2), 100%);
        padding-inline: 20px;
        margin-inline: auto;
    }
}

.l-section__inner--lg {
    @include mq(lg) {
        inline-size: min(calc(800px + 20px * 2), 100%);
        padding-inline: 20px;
        margin-inline: auto;
    }
}

.l-main {

}